{% for drive in hetzner_installimage_drives %}
{{ drive }}
{% endfor %}

{% for raid in hetzner_installimage_raid %}
{{ raid }}
{% endfor %}

BOOTLOADER {{ hetzner_installimage_bootloader }}
HOSTNAME {{ hetzner_installimage_hostname }}

{% for partition in hetzner_installimage_partitions %}
{{ partition }}
{% endfor %}

IMAGE {{ hetzner_installimage_image }}
